BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
PointerAlignment: Left
NamespaceIndentation: All
AlignEscapedNewlines: Left
AlignTrailingComments: Never
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AllowShortFunctionsOnASingleLine: Inline